<list-container [filter]="filter">

    <div filter class="action-bar">

    </div>

    <div loading> Loading</div>

    <div noResults>
        No Result
    </div>

    <div list>
        <table class="table">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of data">
                <td>{{ post.title }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</list-container>